h1,
h2,
p {
  font-family: Mont-Book, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
}

.max-width-wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: black;
  color: white;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: row;
}

aside {
  box-sizing: border-box;
  padding: 0 8px;
  margin: 0;
  margin-top: 16px;
}

.instructions {
  padding: 16px 8px;
  color: #555;
  background-color: #eee;
  border-radius: 8px;
}

.instructions p {
  padding: 0 8px;
  line-height: 1.8;
}

article {
  padding: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px #eee solid;
  padding: 8px 0;
  display: flex;
  justify-content: space-between
;}

li:first {
  border-top: 1px #eee solid;
}

#add-todo {
  display: flex;
  background-color: #eee;
  /* padding: 16px; */
  border-radius: 8px;
}

#add-button {
  color: white;
  background-color: black;
  border: none;
  padding: 0 16px;
  border-radius: 0 8px 8px 0;
}

#add-button:hover {
  color: black;
  background-color: white;
  outline: black 2px solid;
  padding: 0 16px;
  border-radius: 0 8px 8px 0;
}

#add-textbox {
  background-color: #eee;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 8px 0 0 8px;
}

#add-textbox:focus {
  background-color: #ddd;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 8px 0 0 8px;
}

.delete {
  margin-left: auto;
}
